name: Crawl Codex

on:      
  workflow_dispatch:

permissions:
  contents: write
  id-token: write

jobs:
  upload-data:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Checkout data branch
        uses: actions/checkout@v4
        with:
          ref: 'data'
          path: './dump'
      - name: Setup Python environment
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          python-version: 3.13
      - run: uv sync
      - name: Download Codex
        run: uv run main.py download --output "tmp"
      - name: Parse Codex
        run: uv run main.py codex --input "tmp" --output "output"
      - name: Dump Toml
        run: uv run main.py dump_toml --input "output" --output "dump/tarball"
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: codex
          path: ./output
      - name: Push Changes
        shell: bash
        run: |
          cd dump
          git add .
          if [ ! -z "$(git --no-pager diff --staged)" ]; then
            git config user.name 'github-actions[bot]'
            git config user.email '41898282+github-actions[bot]@users.noreply.github.com'
            git commit -s -m "Data Update $(date +%Y%m%d%H%M)" -a
            git push
          fi
      